<article class="godo-f-story flex items-center relative px-4
 overflow-hidden pt-vw8 pb-vw2 w-full flex-none
 bg-gradient-to-b from-transparent to-black bg-opacity-50">
    <div class="max-w-1100 mx-auto relative z-3 h-full flex items-center">
        <div class="lg:w-2/3">
            <p class="godo-f-story-excerpt mb-5 text-white font-normal line-clamp-2 text-xl">{{excerpt words="150"}}</p>

            <a href="{{url}}" class="button is-primary font-medium">{{title}}: {{t "Read more"}}</a>
        </div>
    </div>

</article>
