<div class="js-social-media social-media{{#if class}} {{class}}{{/if}}">

	{{> "widget/social-item"
		social="Github"
		user="aigan"
		social_url="https://github.com/aigan"
		icon="github"
	}}

	{{> "widget/social-item"
		social="Facebook"
		user="aigan"
		social_url="https://www.facebook.com/aigan"
		icon="facebook"
	}}

	{{> "widget/social-item"
		social="Discord"
		user="aigan1"
		social_url="https://discordapp.com/users/272706759435747328"
		icon="discord"
	}}
	
	{{> "widget/social-item"
		social="YouTube"
		user="JonasLiljegren"
		social_url="https://www.youtube.com/@JonasLiljegren"
		icon="youtube"
	}}
	
	{{> "widget/social-item"
		social="Twitter"
		user="aigan"
		social_url="https://twitter.com/aigan"
		icon="twitter"
	}}
	
	{{> "widget/social-item"
		social="LinkedIn"
		user="Jonas Liljegren"
		social_url="https://www.linkedin.com/in/jonas-liljegren-862a6127/"
		icon="linkedin"
	}}

	{{> "widget/social-item"
		social="Dev"
		user="aigan"
		social_url="https://dev.to/aigan"
		icon="dev"
	}}

	{{> "widget/social-item"
		social="Reddit"
		user="aigan2"
		social_url="https://www.reddit.com/user/aigan2/"
		icon="reddit"
	}}

	{{> "widget/social-item"
		social="PlayStation"
		user="aigan1"
		social_url="https://psnprofiles.com/aigan1?order=percent"
		icon="playstation"
	}}

	{{> "widget/social-item"
		social="Steam"
		user="aigan"
		social_url="https://steamcommunity.com/id/aigan/"
		icon="steam"
	}}

	{{> "widget/social-item"
		social="Instagram"
		user="aigan1"
		social_url="https://www.instagram.com/aigan1/"
		icon="instagram"
	}}

	{{> "widget/social-item"
		social="Twitch"
		user="aigan1"
		social_url="https://www.twitch.tv/aigan1"
		icon="twitch"
	}}

	{{> "widget/social-item"
		social="RSS"
		user="blog"
		social_url="https://blog.jonas.liljegren.org/rss/"
		icon="rss"
	}}

	{{> "widget/social-item"
		social="TOC"
		user=""
		social_url="https://blog.jonas.liljegren.org/toc/"
		icon="web"
	}}

</div>

