.button--tags:before {
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
    color: var(--bg-base) ;
    background: var(--ghost-accent-color);
    height: 1.7rem;
    width: 1.7rem;
    content: "#";
    display: inline-block;
    border-radius: 50%;
    font-size: 1.125rem;
    margin-right: .4rem;
}
