<aside class="social-share">
	{{!--
	<a class="godo-tracking p-2 inline-block hover:text-primary"
		data-event-category="Header"
		data-event-action="Social"
		data-event-label="twitter"
		data-event-non-interaction="true"
		title="Comment on Twitter"
		aria-label="Comment on Twitter"
		href="https://twitter.com/search?q={{encode url}}"
		target="_blank"
		rel="noopener noreferrer">
		<svg class="icon icon--comments"><use xlink:href="#icon-comments"></use></svg> Discuss on Twitter
	</a>
	--}}
</aside>
